*{
    padding: 0;
    margin: 0;
}
html, body {
    font-family: 'Roboto', sans-serif;
}
.clear {
    clear: both;
}

#thanhtoan {
    width: 100%;
    margin-top: 100px;
}

#thanhtoan .tieude {
    font-size: 22px;
    font-weight: bold;
    
}

#thanhtoan .thongtinkhachhang {
    margin-left: 150px;
    float: left;
}

.thongtinkhachhang p {
    margin-top: 20px;
}

.thongtinkhachhang input {
    height: 30px;
    width: 350px;
    padding-left: 10px;
}

.thongtindonhang .thongtin {
    font-size: 22px;
    font-weight: bold;
    margin-left: 100px;
}

.thongtinkhachhang .nut {
    font-size: 18px;
    width: 360px;
    height: 40px;
    background-color: white;
    
}

.thongtinkhachhang .nut:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.thongtinkhachhang .xacnhan {
    background-color: black;
    color: white;
}

.thongtindonhang {
    float: left;
    margin-left: 100px;
    width: 40%;
}

.thongtindonhang .donhang {
    font-size: 20px;
    font-weight: bold;
    margin-top: 55px;
    border-bottom: 2px solid black;
}


.danhsachsanpham img {
    float: left;
    width: 150px;
    height: 150px;
}

.danhsachsanpham .sanpham {
    margin-top: 30px;
    padding-bottom: 10px;
    height: 150px;
    border-bottom: 1px solid gray;
}

.sanpham .thongtinsanpham {
    float: left;
    margin-left: 20px;
}

.thongtinsanpham .tensanpham {
    font-size: 20px;
    font-weight: bold;
    width: 420px;
    height: 50px;
}

.thongtinsanpham p {
    margin-bottom: 15px;
}

.tinhtien {
    margin-top: 30px;
}

.tinhtien p {
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.tinhtien strong {
    float: right;
    margin-right: 10px;
}

